-- MySQL dump 10.13  Distrib 8.0.18, for Win64 (x86_64)
--
-- Host: localhost    Database: vitniksanluis
-- ------------------------------------------------------
-- Server version	8.0.18

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `articulos`
--

DROP TABLE IF EXISTS `articulos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `articulos` (
  `letra` varchar(4) NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `active_row` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`letra`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `articulos`
--

LOCK TABLES `articulos` WRITE;
/*!40000 ALTER TABLE `articulos` DISABLE KEYS */;
/*!40000 ALTER TABLE `articulos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `articulos_devueltos`
--

DROP TABLE IF EXISTS `articulos_devueltos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `articulos_devueltos` (
  `ejemplar` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `cod_pedido` int(10) unsigned NOT NULL,
  `motivo` tinyint(3) unsigned NOT NULL,
  `recomprado` tinyint(1) NOT NULL DEFAULT '0',
  `reenviado_vitnik` tinyint(1) NOT NULL DEFAULT '0',
  `active_row` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`ejemplar`),
  KEY `cod_pedido` (`cod_pedido`),
  CONSTRAINT `articulos_devueltos_ibfk_2` FOREIGN KEY (`cod_pedido`) REFERENCES `pedidos` (`cod`)
) ENGINE=InnoDB AUTO_INCREMENT=131 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `articulos_devueltos`
--

LOCK TABLES `articulos_devueltos` WRITE;
/*!40000 ALTER TABLE `articulos_devueltos` DISABLE KEYS */;
/*!40000 ALTER TABLE `articulos_devueltos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `camps`
--

DROP TABLE IF EXISTS `camps`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `camps` (
  `nro_camp` int(10) unsigned NOT NULL,
  `cod_cat` int(10) unsigned DEFAULT NULL,
  `alias` varchar(60) DEFAULT NULL,
  `mes` tinyint(3) unsigned NOT NULL,
  `year` int(10) unsigned NOT NULL,
  `fecha_registro` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `active_row` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`nro_camp`),
  UNIQUE KEY `mes` (`mes`,`year`),
  KEY `cod_cat` (`cod_cat`),
  CONSTRAINT `camps_ibfk_1` FOREIGN KEY (`cod_cat`) REFERENCES `catalogos` (`cod`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `camps`
--

LOCK TABLES `camps` WRITE;
/*!40000 ALTER TABLE `camps` DISABLE KEYS */;
INSERT INTO `camps` VALUES (233,NULL,NULL,2,2021,'2021-03-18 22:39:40',1),(234,NULL,NULL,3,2021,'2021-03-22 21:11:53',1),(235,NULL,NULL,4,2021,'2021-04-14 20:58:44',1);
/*!40000 ALTER TABLE `camps` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_0900_ai_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'NO_AUTO_VALUE_ON_ZERO' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `newBalancesPerCamp` AFTER INSERT ON `camps` FOR EACH ROW INSERT INTO `saldos`(`id_cp`,`nro_camp`) SELECT `id_cp`, NEW.nro_camp FROM `clientes_preferenciales` WHERE `active_row` = 1 */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `catalogos`
--

DROP TABLE IF EXISTS `catalogos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `catalogos` (
  `cod` int(10) unsigned NOT NULL,
  `stock_inicial` int(10) unsigned NOT NULL,
  `stock` int(10) unsigned NOT NULL,
  `precio` decimal(16,6) unsigned NOT NULL,
  `link` varchar(500) DEFAULT NULL,
  `fecha_registro` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `active_row` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`cod`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `catalogos`
--

LOCK TABLES `catalogos` WRITE;
/*!40000 ALTER TABLE `catalogos` DISABLE KEYS */;
/*!40000 ALTER TABLE `catalogos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes_preferenciales`
--

DROP TABLE IF EXISTS `clientes_preferenciales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes_preferenciales` (
  `id_cp` int(10) unsigned NOT NULL,
  `id_lider` int(10) unsigned DEFAULT NULL,
  `dni` bigint(20) unsigned DEFAULT NULL,
  `nombre` varchar(30) NOT NULL,
  `apellido` varchar(30) NOT NULL,
  `lugar` varchar(60) DEFAULT NULL,
  `fecha_nac` date DEFAULT NULL,
  `email` varchar(60) DEFAULT NULL,
  `tel` bigint(20) unsigned DEFAULT NULL,
  `es_lider` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_registro` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_baja` timestamp NULL DEFAULT NULL,
  `active_row` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_cp`),
  UNIQUE KEY `dni` (`dni`),
  KEY `id_lider` (`id_lider`),
  CONSTRAINT `clientes_preferenciales_ibfk_1` FOREIGN KEY (`id_lider`) REFERENCES `clientes_preferenciales` (`id_cp`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes_preferenciales`
--

LOCK TABLES `clientes_preferenciales` WRITE;
/*!40000 ALTER TABLE `clientes_preferenciales` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes_preferenciales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `comisiones`
--

DROP TABLE IF EXISTS `comisiones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `comisiones` (
  `id_cp` int(10) unsigned NOT NULL,
  `nro_camp` int(10) unsigned NOT NULL,
  `cant_actual` int(10) unsigned NOT NULL,
  `nivel_actual` smallint(5) unsigned NOT NULL,
  `cant_min` int(10) unsigned NOT NULL DEFAULT '51',
  `cant_1` int(10) unsigned NOT NULL DEFAULT '101',
  `cant_2` int(10) unsigned NOT NULL DEFAULT '201',
  `cant_3` int(10) unsigned NOT NULL DEFAULT '301',
  `nivel_1` smallint(5) unsigned NOT NULL DEFAULT '5',
  `nivel_2` smallint(5) unsigned NOT NULL DEFAULT '8',
  `nivel_3` smallint(5) unsigned NOT NULL DEFAULT '10',
  `nivel_4` smallint(5) unsigned NOT NULL DEFAULT '13',
  `nivel_fp` int(10) unsigned NOT NULL DEFAULT '5',
  `nivel_otros` int(10) unsigned NOT NULL DEFAULT '5',
  `active_row` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_cp`,`nro_camp`),
  KEY `nro_camp` (`nro_camp`),
  CONSTRAINT `comisiones_ibfk_1` FOREIGN KEY (`id_cp`) REFERENCES `clientes_preferenciales` (`id_cp`),
  CONSTRAINT `comisiones_ibfk_2` FOREIGN KEY (`nro_camp`) REFERENCES `camps` (`nro_camp`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `comisiones`
--

LOCK TABLES `comisiones` WRITE;
/*!40000 ALTER TABLE `comisiones` DISABLE KEYS */;
INSERT INTO `comisiones` VALUES (276,233,86,8,51,101,201,301,8,10,12,13,5,5,1),(276,234,141,10,51,101,201,301,8,10,12,13,5,5,1),(276,235,97,8,51,101,201,301,8,10,12,13,5,5,1);
/*!40000 ALTER TABLE `comisiones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `devoluciones`
--

DROP TABLE IF EXISTS `devoluciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `devoluciones` (
  `cod` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_cp` int(10) unsigned NOT NULL,
  `nro_camp` int(10) unsigned NOT NULL,
  `ejemplar` int(10) unsigned NOT NULL,
  `monto` decimal(16,6) unsigned NOT NULL,
  `fecha_registro` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `active_row` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`cod`),
  KEY `id_cp` (`id_cp`),
  KEY `nro_camp` (`nro_camp`),
  KEY `ejemplar` (`ejemplar`),
  CONSTRAINT `devoluciones_ibfk_1` FOREIGN KEY (`id_cp`) REFERENCES `clientes_preferenciales` (`id_cp`),
  CONSTRAINT `devoluciones_ibfk_2` FOREIGN KEY (`nro_camp`) REFERENCES `camps` (`nro_camp`),
  CONSTRAINT `devoluciones_ibfk_4` FOREIGN KEY (`ejemplar`) REFERENCES `articulos_devueltos` (`ejemplar`)
) ENGINE=InnoDB AUTO_INCREMENT=131 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `devoluciones`
--

LOCK TABLES `devoluciones` WRITE;
/*!40000 ALTER TABLE `devoluciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `devoluciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `entregas_catalogos`
--

DROP TABLE IF EXISTS `entregas_catalogos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `entregas_catalogos` (
  `nro_entrega` int(10) unsigned NOT NULL,
  `id_cp` int(10) unsigned NOT NULL,
  `cod_cat` int(10) unsigned NOT NULL,
  `cant` int(10) unsigned NOT NULL,
  `precio` decimal(16,6) unsigned NOT NULL,
  `fecha_registro` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `active_row` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`nro_entrega`),
  KEY `id_cp` (`id_cp`),
  KEY `nro_camp` (`cod_cat`),
  CONSTRAINT `entregas_catalogos_ibfk_1` FOREIGN KEY (`id_cp`) REFERENCES `clientes_preferenciales` (`id_cp`),
  CONSTRAINT `entregas_catalogos_ibfk_2` FOREIGN KEY (`cod_cat`) REFERENCES `catalogos` (`cod`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `entregas_catalogos`
--

LOCK TABLES `entregas_catalogos` WRITE;
/*!40000 ALTER TABLE `entregas_catalogos` DISABLE KEYS */;
/*!40000 ALTER TABLE `entregas_catalogos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `observaciones`
--

DROP TABLE IF EXISTS `observaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `observaciones` (
  `id_cp` int(10) unsigned NOT NULL,
  `nro_camp` int(10) unsigned NOT NULL,
  `observacion` varchar(500) DEFAULT NULL,
  `active_row` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_cp`,`nro_camp`),
  KEY `nro_camp` (`nro_camp`),
  CONSTRAINT `observaciones_ibfk_1` FOREIGN KEY (`id_cp`) REFERENCES `clientes_preferenciales` (`id_cp`),
  CONSTRAINT `observaciones_ibfk_2` FOREIGN KEY (`nro_camp`) REFERENCES `camps` (`nro_camp`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `observaciones`
--

LOCK TABLES `observaciones` WRITE;
/*!40000 ALTER TABLE `observaciones` DISABLE KEYS */;
INSERT INTO `observaciones` VALUES (925,233,'Recompra de BEDT corrige devoluci├│n ',1);
/*!40000 ALTER TABLE `observaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pagos`
--

DROP TABLE IF EXISTS `pagos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pagos` (
  `cod` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_cp` int(10) unsigned NOT NULL,
  `nro_camp` int(10) unsigned NOT NULL,
  `descriptor` varchar(60) DEFAULT NULL,
  `monto` decimal(16,6) NOT NULL,
  `item` tinyint(4) NOT NULL DEFAULT '1',
  `forma` tinyint(4) NOT NULL DEFAULT '1',
  `banco` tinyint(4) NOT NULL DEFAULT '1',
  `estado` tinyint(4) NOT NULL DEFAULT '1',
  `fecha_registro` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `active_row` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`cod`),
  KEY `id_cp` (`id_cp`),
  KEY `nro_camp` (`nro_camp`),
  CONSTRAINT `pagos_ibfk_1` FOREIGN KEY (`id_cp`) REFERENCES `clientes_preferenciales` (`id_cp`),
  CONSTRAINT `pagos_ibfk_2` FOREIGN KEY (`nro_camp`) REFERENCES `camps` (`nro_camp`)
) ENGINE=InnoDB AUTO_INCREMENT=313 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pagos`
--

LOCK TABLES `pagos` WRITE;
/*!40000 ALTER TABLE `pagos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pagos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedidos`
--

DROP TABLE IF EXISTS `pedidos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedidos` (
  `cod` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_cp` int(10) unsigned NOT NULL,
  `nro_camp` int(10) unsigned NOT NULL,
  `letra` varchar(4) NOT NULL,
  `nro_envio` int(10) unsigned NOT NULL,
  `cant` int(10) unsigned NOT NULL,
  `cant_devueltos` int(10) unsigned NOT NULL DEFAULT '0',
  `monto` decimal(16,6) unsigned NOT NULL,
  `fecha_retiro` timestamp NULL DEFAULT NULL,
  `fecha_registro` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `comisionable` tinyint(1) NOT NULL DEFAULT '1',
  `aumenta_comision` tinyint(1) NOT NULL DEFAULT '1',
  `tipo` tinyint(3) unsigned NOT NULL,
  `precio_unitario` decimal(16,6) unsigned NOT NULL,
  `agregado` tinyint(1) NOT NULL,
  `compensado` tinyint(1) NOT NULL,
  `active_row` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`cod`),
  KEY `id_cp` (`id_cp`),
  KEY `nro_camp` (`nro_camp`),
  KEY `letra` (`letra`),
  CONSTRAINT `pedidos_ibfk_1` FOREIGN KEY (`id_cp`) REFERENCES `clientes_preferenciales` (`id_cp`),
  CONSTRAINT `pedidos_ibfk_2` FOREIGN KEY (`nro_camp`) REFERENCES `camps` (`nro_camp`),
  CONSTRAINT `pedidos_ibfk_3` FOREIGN KEY (`letra`) REFERENCES `articulos` (`letra`)
) ENGINE=InnoDB AUTO_INCREMENT=8030 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedidos`
--

LOCK TABLES `pedidos` WRITE;
/*!40000 ALTER TABLE `pedidos` DISABLE KEYS */;
/*!40000 ALTER TABLE `pedidos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `recompras`
--

DROP TABLE IF EXISTS `recompras`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `recompras` (
  `cod` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `id_cp` int(10) unsigned NOT NULL,
  `nro_camp` int(10) unsigned NOT NULL,
  `ejemplar` int(10) unsigned NOT NULL,
  `precio_recompra` decimal(16,6) unsigned NOT NULL,
  `aumenta_comision` tinyint(1) NOT NULL DEFAULT '0',
  `devuelta` tinyint(1) NOT NULL DEFAULT '0',
  `fecha_registro` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `active_row` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`cod`),
  KEY `id_cp` (`id_cp`),
  KEY `nro_camp` (`nro_camp`),
  KEY `ejemplar` (`ejemplar`),
  CONSTRAINT `recompras_ibfk_1` FOREIGN KEY (`id_cp`) REFERENCES `clientes_preferenciales` (`id_cp`),
  CONSTRAINT `recompras_ibfk_2` FOREIGN KEY (`nro_camp`) REFERENCES `camps` (`nro_camp`),
  CONSTRAINT `recompras_ibfk_3` FOREIGN KEY (`ejemplar`) REFERENCES `articulos_devueltos` (`ejemplar`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `recompras`
--

LOCK TABLES `recompras` WRITE;
/*!40000 ALTER TABLE `recompras` DISABLE KEYS */;
INSERT INTO `recompras` VALUES (2,925,233,78,1799.920000,0,0,'2021-04-08 03:20:17',1),(3,221,234,107,3999.920000,0,0,'2021-04-14 21:28:36',1),(4,991,235,116,3199.920000,0,0,'2021-04-14 21:42:40',1),(5,970,235,125,1239.900000,0,0,'2021-04-26 20:28:57',1);
/*!40000 ALTER TABLE `recompras` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `saldos`
--

DROP TABLE IF EXISTS `saldos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `saldos` (
  `id_cp` int(10) unsigned NOT NULL,
  `nro_camp` int(10) unsigned NOT NULL,
  `balance` decimal(16,6) NOT NULL DEFAULT '0.000000',
  `pedidos` decimal(16,6) unsigned NOT NULL DEFAULT '0.000000',
  `catalogos` decimal(16,6) unsigned NOT NULL DEFAULT '0.000000',
  `recompras` decimal(16,6) unsigned NOT NULL DEFAULT '0.000000',
  `pagos` decimal(16,6) NOT NULL DEFAULT '0.000000',
  `devoluciones` decimal(16,6) unsigned NOT NULL DEFAULT '0.000000',
  `comision` decimal(16,6) unsigned NOT NULL DEFAULT '0.000000',
  `active_row` tinyint(1) NOT NULL DEFAULT '1',
  PRIMARY KEY (`id_cp`,`nro_camp`),
  KEY `nro_camp` (`nro_camp`),
  CONSTRAINT `saldos_ibfk_1` FOREIGN KEY (`id_cp`) REFERENCES `clientes_preferenciales` (`id_cp`),
  CONSTRAINT `saldos_ibfk_2` FOREIGN KEY (`nro_camp`) REFERENCES `camps` (`nro_camp`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `saldos`
--

LOCK TABLES `saldos` WRITE;
/*!40000 ALTER TABLE `saldos` DISABLE KEYS */;
/*!40000 ALTER TABLE `saldos` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2021-05-13 11:44:00
